# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/FlaskPoc.iml
.idea/IDS.iml
.idea/code-comments.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
envs/

